main {
    position: relative;
}

.unselectable {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently
                                    not supported by any browser */
  }
.container {
    padding: 0px 5%;
    width: 100%;
}
.main_container {
    max-width: 1400px;
    margin: 0 auto;
}
.upper_text {
    text-transform: uppercase;
}
.absolute_center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

//  тут шрифти 400 ==================>
.sub_title {
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    font-weight: 400;
    
    
    &_0 {
        font-size: 14px;
    }
    &_1 {
        font-size: 16px;
    }
    &_2 {
        font-size: 18px;
    }

  
    
}

//  тут шрифти 500 ==================>
.medium_title {
    font-stretch: 500;
    font-style: normal;
    letter-spacing: normal;
    font-weight: 600;
    
   
    &_2 {
        font-size: 16px;
    }
    &_3 {
        font-size: 20px;
    }
    &_4 {
        font-size: 24px;
    }
}


//  тут шрифти 600 ==================>
.standart_title {
    font-stretch: 600;
    font-style: normal;
    letter-spacing: normal;
    font-weight: 600;

    &_2 {
        font-size: 16px;
    }
    &_3 {
        font-size: 18px;
    }
    &_4 {
        font-size: 24px;
    }
    &_5 {
        font-size: 32px;
    }
  
  
}


//  тут шрифти 700 ==================>
.main__title {
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;

    &_5 {
        font-size: 32px;
    }
   
}

//  тут шрифти 900 ==================>
.bigger_title {
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
   
   
}

.color {
    &_red {
        color: #E3000F;
    }
    &_red_2 {
        color: #F5222D;
    }
    &_green {
        color: #00eb8b;
    }
    &_black {
        color: #637280;
    }
    &_white {
        color: #fff;
    }
}



@media (max-width: 672px) {
    .main__title_7 {
        font-size: 40px;
    }
    .bigger_title_3 {
        font-size: 15px;
    }
    
}
@media (max-width: 520px) {
    .main__title_2 {
        font-size: 20px;
    }
}
@media (max-width: 410px) {
    .main__title_4 {
        font-size: 26px;
    }
}
@media (max-width: 380px) {
    .main__title_7 {
        font-size: 29px;
    }
    .standart_title_1 {
        font-size: 15px;
    }
    .standart_title_5 {
        font-size: 23px;
    }
    .standart_title_4 {
        font-size: 20px;
    }
    
    
    
}